.App {
  /*padding: 30px;*/
  /*display: flex;*/
}

/*.App > div {*/
/*  margin-right: 50px;*/
/*}*/


.isDone {
    opacity: 0.5;
}
.todolist-title-container {
    display: flex;
    align-items: center;
}